/* media query */
@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    /* border:none; */
  }
  .port-img{
    flex-basis: 20%;
    height:60px;
  }
  
.logo h1:hover::after {
  width: 70%;
}

  
  .menu {
    position: absolute;
    top: 81px;
    right: 0;
    background-color: #222;
    flex-direction: column;
    display: none;
  }
  .menu-icon {
    display: block;
  }
  #toggle-menu:checked + .menu-icon + .menu {
    display: block;
  }
  .project-menu {
    position: static;
  } 
  .dropdown-project:hover .project-menu {
    display: block;
  }
   
}
